body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(76, 1fr);
  grid-template-rows: repeat(17, 1fr);
  width: 90vw; /* Set width to 90% of viewport width */
  height: calc(
    90vw * (17 / 76)
  ); /* Keep the height proportional to the 76:17 ratio */
  /* transform: scale(1.7);  */
}

.cell {
  /* transition: background-color 0.3s ease, transform 0.05s ease; */
}

.cell.black {
  background-color: #0058dd;
  /* border: 0.9px dotted #ecfc7c; */
}

.cell.transition {
  animation: colorChange 2s forwards, rotate 3s ease;
  transition: background-color 0.3s ease, transform 0.05s ease;
}

/* .cell.transition {
  animation: colorChange 1s forwards, rotate 1s ease;
  transition: background-color 0.3s ease, transform 0.05s ease;
} */

@keyframes colorChange {
  0% {
    transform: scale(0) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(540deg); /* Full rotation during color change */
  }
  100% {
    transform: scale(0) rotate(0deg);
  }
}

/* radio */
#radio-group {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  gap: 12px;
  z-index: 1000;
}

#radio-group label {
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  padding-left: 24px;
}

/* Hide native radio button */
#radio-group input[type="radio"] {
  display: none;
}

/* Custom square box */
#radio-group label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px dotted #0058DD;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s ease;
}

/* Yellow square when selected */
#radio-group input[type="radio"]:checked + label::before {
  background-color: #0058DD;
  border-color: rgb(255, 255, 255);
}

#radio-group label:hover::before {
  background-color: #EDFF7A; /* light yellow */
  border-color: rgb(255, 255, 255);
}